/* tablet */
@media screen and (max-width: 1023px) and (min-width: 740px) {
    .hide-on-tablet {
        display: none;
    }

    html {
        font-size: 75%;
    }

    .image-wrap {
        width: 400px;
        height: 400px;
    }

    .image-wrap__logo {
        width: 350px;
        height: 350px;
    }

    .image-wrap__text span {
        font-size: 3.5rem;
        line-height: 4rem;
        transform-origin: 0 200px;
    }

}

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .main {
        padding: 20px 30px;
    }

    .header {
        padding: 10px 15px;
    }

    .home-portfolio {
        flex-direction: column;
    }

    .sub-section-list {
        flex-direction: row;
        margin-bottom: 10px;
    }

    .sub-section-item {
        margin: 0 8px;
    }

    .personal-img__desc {
        transform: rotate(0);
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .home-portfolio {
        height: 50vh;
    }

    .home-desc, .home-work {
        padding: 10px 0 10px 0;
    }

    .contact-question__input--submit {
        width: 100%;
    }

    .personal-img__desc {
        font-size: 7rem;
        line-height: 7rem;
    }

    .image-wrap__text span {
        font-size: 2.6rem;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 50%;
    }

    .image-wrap {
        width: 260px;
        height: 260px;
    }

    .image-wrap__logo {
        width: 230px;
        height: 230px;
    }

    .image-wrap__text span {
        font-size: 2.8rem;
        line-height: 3rem;
        transform-origin: 0 130px;
    }

    .personal-img__desc {
        font-size: 6rem;
        line-height: 6rem;
    }
}

/* tablet and mobile */ 
@media (max-width: 1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .header-list-wrap {
        position: fixed;
        z-index: 3;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        background-color: var(--white-color);
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        transition: 0.5s;
    }

    .header-list-wrap.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }

    .header-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .header-item {
        margin: 20px 50px;
        text-align: center;
        padding: 15px;
        border: 2px solid #333;
        border-radius: 20px;
    }

    .header-item:hover {
        transform: scale(1.1);
        border: 2px solid var(--second-color);
    }

    .header-item:first-child {
        margin: 60px 50px 20px;
    }

    .header-item.active {
        border: 2px solid var(--primary-color);
    }

    .header-menu {
        width: 50px;
        height: 100%;
        text-align: center;
        display: flex;
        align-items: flex-end;
        cursor: pointer;
    }

    .header-menu-wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .header-menu__icon, .header-close__icon {
        font-size: 3rem;
        line-height: 3rem;
        color: var(--text-color);
    }

    .header-close {
        width: 50px;
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .header-modal {
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .header-modal.active {
        opacity: 1;
        visibility: visible;
    }

    .home-work__view-all {
        margin: 30px 0 0 0;
    }

    .progress-bar {
        margin: 20px 0;
    }

    .image-about {
        height: 50vh;
    }

    .contact-question {
        margin: 40px 0 0 0;
    }

    .contact-form {
        margin: 0;
        display: flex;
        align-items: center;
    }

    .contact-form__item--hide-pc {
        display: flex;
    }

    .project-category__item {
        margin: 15px 0;
    }
}